.sidebar-content {
  background: #ffffff;
  bottom: 72px;
  left: 0;
  overflow-y: scroll;
  overflow-x: hidden;
  position: absolute;
  right: 0;
  top: 72px;
  width: 100%;
  z-index: 3;
  color: #666666;
  font-size: 13px;
  padding-bottom: 30px;

  &-top,
  &-bottom {
    background: #ffffff;
    padding: 15px 30px;
    position: absolute;
    width: 100%;
    z-index: 10;
  }
  &-top {
    border-bottom: 2px solid #eaedf1;
    left: 0;
    right: 0;
    top: 0;

    h3 {
      color: #333333;
      font-size: 18px;
      font-weight: normal;
      line-height: 40px;
      margin: 0;
      text-align: center;
    }
  }
  &-bottom {
    border-top: 2px solid #eaedf1;
    bottom: 0;
    left: 0;
    right: 0;

    .btn {
      background: #f0820b;
      border: none;
      border-radius: 5px;
      box-shadow: 0 -2px 0 rgba(0,0,0,0.15) inset;
      color: #fff;
      font-family: ProximaNova-Regular, sans-serif;
      font-size: 16px;
      line-height: 40px;
      padding: 0 40px;
      text-shadow: none;

      &:hover {
        background: #f39c12;
      }
    }
    .cancel {
      float: right;

      color: #666;
      font-size: 11px;
      line-height: 40px;
      text-decoration: none;

      &:hover {
        color: #000000;
      }
    }
  }

  .form-group {
    float: left;
    padding: 30px 30px 0 30px;
    margin-bottom: 0;
    width: 100%;

    &.next {
      padding-top: 15px;
    }
    &.highlight {
      background: #ededed;
      padding-bottom: 15px;
      margin-top: 15px;
      box-shadow: inset 0 0 7px #9E9E9E;
    }

    .description {
      color: $text-color-wisper;
      font-size: 90%;
    }
  }
  .message-type {
    .message-image,
    .message-video {
      margin: 10px 0;
    }
    &--image .message-image {
      text-align: center;
    }
    img {
      max-width: 100%;
    }
    video {
      width: 100%;
    }
  }
  .form-control.number {
    width: 45px;
  }
  .number-width {
    flex: 1;
  }
}

.message-keyboard {
  &--key {
    position: relative;
    display: inline-block;
    padding: 6px 11px;
    border: 1px solid;
    margin: 3px;
  }
  &--key-delete {
    position: absolute;
    top: 0;
    right: 0;
    text-decoration: none;
    line-height: 0;
  }
}