@import "sidebar";

$wf-border-color: #bdc3c7;
$wf-border-radius: 5px;
$wf-space-line-height: 20px;
@mixin space-line {
    &:before {
        content: '';
        position: absolute;
        left: 50%;
        margin-top: -$wf-space-line-height;
        width: 0;
        height: $wf-space-line-height;
        margin-left: -1px;
        border: 1px solid $wf-border-color;
    }
    &.no-line {
        padding-top: 0;
        &:before {
            display: none;
        }
    }
}

.lv-workflow-builder-sidebar {
    float: right;
    width: 425px;
    background: #fff;
    position: fixed;
    right: 0;
    bottom: 0;
    top: 50px;
    overflow: visible;
    z-index: 3;
    border-left: 2px solid #eaedf1;

    @media (max-width: 846px) {
        //width: 100vw;
        display: none;
    }
}

.lv-workflow-builder-template {
    //bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    //right: 425px;
    top: 50px;
    width: calc(100vw - 425px);
    height: calc(100vh - 50px);

    @media (max-width: 846px) {
        width: 100vw;
    }
}
.lv-workflow-builder-template__content {
    height: 100%;
    width: 100%;
}
.lv-workflow-builder-tempalte__area {
    flex: 1 0 0%;
    height: 100%;
    order: 1;
    overflow: scroll;
    padding: 75px;
    position: relative;
    text-align: center;
    z-index: 2;

    .step-container {
        width: 100%;
    }
    .step-content {
        background-color: #ffffff;
        border: 2px solid $wf-border-color;
        border-radius: $wf-border-radius;
        color: #666;
        display: block;
        margin: 0 auto;
        max-width: 240px;
        padding: 15px;
        position: relative;
        width: 100%;
        cursor: pointer;
        img,
        video {
            max-width: 100%;
        }

        &.selected {
            border-color: #8BC34A;
        }

        .message-text {
            resize: horizontal;
            white-space: pre-wrap;
            margin: 0;
        }
    }

    .add-step {
        position: relative;
        text-align: center;
        padding-top: $wf-space-line-height;

        @include space-line;
        a {
            font-size: 20px;
            font-weight: bold;
            display: inline-block;
            width: 30px;
            height: 30px;
            //border: 2px solid $wf-border-color;
            background: #5db5e8;
            border-radius: 50%;

            color: #b8f3f5;
            line-height: 1.4em;
            text-decoration: none;
        }
        &__btns {
            line-height: 40px;
        }
        &__popover {
            display: none;
            z-index: 20;
            position: absolute;
            //top: 44px;
            margin-top: 10px;
            left: 50%;
            transform: translateX(-50%);
            background: lightgray;
            border: 2px solid #000;
            border-radius: 10px;
            padding: 15px 10px;
            width: 260px;

            &:before {
                content: '';
                position: absolute;
                display: block;
                width: 10px;
                height: 10px;
                background: lightgrey;
                border: 2px solid #000;
                border-left: 0;
                border-bottom: 0;
                transform: rotate(-45deg) translateX(-50%);
                top: -7px;
                left: 50%;
                transform-origin: left;
            }

            &--active {
                display: block;
            }
            &--over-link {
                top: auto;
                bottom: 44px;

                &:before {
                    top: auto;
                    bottom: -7px;
                    transform: rotate(-225deg) translateX(-50%);
                }
            }
        }

        .btn {
            background: #66bb6a;
            border: none;
            border-radius: 5px;
            box-shadow: 0 -2px 0 rgba(0,0,0,0.15) inset;
            color: #fff;
            font-family: ProximaNova-Regular, sans-serif;
            font-size: 16px;
            line-height: 40px;
            padding: 0 20px;
            text-shadow: none;

            &:hover {
                background: #4caf50;
            }
        }
    }
    .step-delete {
        position: absolute;
        color: #000;
        top: 5px;
        right: 5px;
        opacity: 0;
        transition: opacity 500ms;
    }
    .step-content:hover .step-delete,
    .step-content .step-delete:focus,
    .step-content .step-delete:active {
        opacity: 1;
    }
    .wf-steps-subtree {
        position: relative;
        width: 100%;
        padding-top: $wf-space-line-height;

        @include space-line;
    }
    .step-wrap {
        float: left;
        min-width: 100%;
    }
    .wf-steps-decisions {
        float: left;
        min-width: 100%;
        display: flex;
        justify-content: space-around;
        padding-top: $wf-space-line-height;

        @include space-line;
    }
    .decision-steps {
        //width: 50%;
        flex-grow: 1;
        flex-shrink: 0;
        min-width: 250px;
        &:before {
            content: '';
            display: block;
            height: $wf-space-line-height;
            width: 50%;
            border-top: 2px solid $wf-border-color;
        }
        &:first-child:before {
            margin-left: auto;
            border-left: 2px solid $wf-border-color;
            border-top-left-radius: $wf-border-radius;
        }
        &:last-child:before {
            margin-right: auto;
            border-right: 2px solid $wf-border-color;
            border-top-right-radius: $wf-border-radius;
        }
    }
    .condition-rule {
        margin: 0 auto;
        width: 70px;
        text-align: center;
        padding: 10px;
        border-radius: $wf-border-radius;

        &.yes {
            color: #fff;
            background: #43A047;
        }
        &.no {
            color: #fff;
            background: #C62828;
        }
    }
}

