.chat-button {
  color: #5f5255;
  cursor: pointer;
  min-width: 180px;

  display: block;
  padding: 10px 20px;
  margin: 20px auto;
  border-radius: 50px;
  border: 3px solid #5f5255;
  background: transparent;
  text-align: center;

  &:hover,
  &:focus {
    color: lighten(#5f5255, 15%);
    border-color: lighten(#5f5255, 15%);
  }
}