.chat-text,
.chat-textarea {
  width: 100%;
  padding: 13px 0;
  box-sizing: border-box;
  min-height: 41px;
  border: none;
  border-bottom: 3px solid #eb4961;
  background: transparent;
}
.expanding-clone {
  min-height: 41px!important;
}