@import "chat-radio-button";
@import "chat-text";
@import "chat-button";

body {
  background: #e8f8fa;
  background: url(../img/background.png) no-repeat center center fixed;
  line-height: 1.5;
  color: #231f20;
}
.wrap {
  max-width: 780px;
}
.b-connect {
  font-family: Ubuntu, sans-serif;
}
.b-connect h1 {
  text-align: center;
  color: #000;
  /*     margin-top: 30vh; */
}
.email-reminder-push {
  display: block;
  width: 100%;
  height: 50px;
}
.email-reminder {
  position: fixed;
  z-index: 20;
  top: 0;
  left: 0;
  right: 0;

  background: #a3ccec;
  color: #2b4153;
  font-size: 16px;
}
.chat a {
  color: #eb4961;

  &:hover,
  &:focus {
    text-decoration: underline;
    color: lighten(#eb4961, 20%);
  }
}
.email-reminder a {
  color: #205cca;
}
.email-reminder a:hover,
.email-reminder a:focus {
  color: #2366f3;
}
.email-reminder .wrap {
  box-sizing: border-box;
  max-width: 680px;
  padding: 12px 10px;
}
.email-reminder .close-reminder {
  float: right;
}
.icon {
  display: inline-block;
  vertical-align: middle;
}
.icon.icon-info {
  width: 24px;
  height: 24px;
  background: url(../img/icon-info-blue.png) no-repeat;
  margin-right: 15px;
}
.icon.icon-close {
  width: 12px;
  height: 12px;
  background: url(../img/icon-close-blue.png) no-repeat;
}
.chat {
  position: relative;
  margin-top: 50px;
  /* max-height: 50vh; */
  overflow-x: hidden;
  overflow-y: auto;
  font-size: 20px;
}
.chat__item {
  /*margin-top: 2em;*/
  margin-bottom: 3.4em;
  padding-left: 10px;
  padding-right: 10px;
  min-height: 100vh;
  min-height: calc(100vh - 2em - 50px);
  /* white-space: nowrap; */
  &:before {
    content: '';
    /* visibility: hidden; */
    min-height: 100vh;
    display: inline-block;
    vertical-align: middle;
    width: 0;
    margin-right: -0.25em;
  }
  
  &--answered,
  &--answered:before {
    min-height: 0;
  }
  &--hidden {
    display: none;
  }

  .chat__item-inner {
    width: 100%;
    min-height: 140px;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    /* white-space: initial; */
  }
  .chat__item-inner:after {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 60px;
    margin-top: -10px;
    opacity: 0;
    filter: alpha(opacity=0);
    background: url(/changeyourself/quiz/icon-loading.gif?1) no-repeat left center;
    -webkit-transition: opacity 500ms;
    transition: opacity 500ms;
    pointer-events: none;
    margin-left: 20%;
  }
}
.chat__item--top .chat__item-inner {
  vertical-align: top;
}
.chat__item.loading .chat__item-inner:after {
  opacity: 1;
  filter: alpha(opacity=100);
}
.is-mobile .chat__item,
.is-mobile .chat__item:before {
  min-height: 0;
}
.chat__item:first-child:before {
  display:none;
}
//.chat__item [type="button"],
//.chat__item [type="submit"],
//.chat__item input[type="tel"],
//.chat__item input[type="text"],
//.chat__item input[type="email"],
//.chat__item input[type="password"] {
//  background: transparent;
//  padding: 10px 0;
//  border: none;
//  border-bottom: 3px solid #eb4961;
//  box-sizing: border-box;
//}
//.chat__item input[type="tel"],
//.chat__item input[type="text"],
//.chat__item input[type="email"],
//.chat__item input[type="password"] {
//  width: 54%;
//}

.chat-answer {
  margin-left: 20%;
  text-align: left;

  &:after {
    content:'';
    display:table;
    height:0;
    visibility: hidden;
    clear: both;
  }
  .js-other {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 3%;
  }
}
.chat-question {
  margin-bottom: 25px;
  /*overflow: hidden;*/
}
.chat__item-answer:after,
.chat__item:after {
  content:'';
  display:table;
  height:0;
  visibility: hidden;
  clear: both;
}
.chat-question {
  &__person {
    float: left;
    margin-top: 10px;
  }

  &__message {
    position: relative;
    margin-left: 21%;
    padding: 25px 25px 25px 30px;
    background: #fff;
    border-radius: 20px;
    border: 1px solid #dee4f0;
    color: #000;

    &:before {
      content: '';
      left: -10px;
      top: 42px;
      margin-top: -12px;
      display: block;
      position: absolute;
      border: 1px solid #dee4f0;
      border-right: 0;
      border-top: 0;
      background: #fff;
      width: 18px;
      height: 18px;
      -ms-transform: rotate(45deg);
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
    }
  }

  @media screen and (max-width: 767px) {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
    
    
    &__message {
      max-width: 100%;
      margin-left: 0;
      margin-right: 0;

      &:before {
        top: -11px;
        left: 50%;
        margin-top: 0;
        margin-left: -12px;
        -webkit-transform: rotate(135deg);
        -ms-transform: rotate(135deg);
        transform: rotate(135deg);
      }
    }
  }
}
.chat-question + .chat-question .chat__person {
  display: none;
}
.chat-question + .chat-question .chat-item__message:before {
  display: none;
}


.chat-person {
  width: 105px;
  text-align: center;
  height: 105px;

  &__photo {
    border-radius: 50%;
    width: 105px;
  }
  &__name {
    margin: 12px 0 0;
    color: #000;
    font-weight: bold;
  }
}

.chat__answers {
  margin-left: -15px;
  margin-right: -15px;
}
.chat__answers > span {
  position: relative;
  margin: 15px;
  display: inline-block;
}
.chat__answers > span.chat__answer-textarea {
  display: block;
}
.chat__answers > span.chat__answer--other.checked {
  display: block;
}
.chat__answers > span input[type="checkbox"],
.chat__answers > span input[type="radio"] {
  position: absolute;
  z-index: -1;
  visibility: hidden;
}
.chat__answers > span input[type="checkbox"]:focus,
.chat__answers > span input[type="radio"]:focus {
  position: absolute;
  z-index: -1;
  visibility: visible;
}
.chat__answers > span input[type="checkbox"] + label,
.chat__answers > span input[type="radio"] + label {
  display: inline-block;
  padding: 5px 23px;
  border-radius: 50px;
  background: #bad9e6;
  color: #000;
  cursor: pointer;
}
.chat__answers > span input[type="checkbox"] + label:hover,
.chat__answers > span input[type="checkbox"] + label:focus,
.chat__answers > span input[type="radio"] + label:hover,
.chat__answers > span input[type="radio"] + label:focus {
  background: #c7e8f6;
  color: #000;
}
.chat__answers > span input[type="checkbox"]:checked + label,
.chat__answers > span input[type="radio"]:checked + label {
  background: #f8a515;
  color: #fff;
}
.chat__answers > span input[type="checkbox"]:checked + label:hover,
.chat__answers > span input[type="radio"]:checked + label:focus {
  background: #ffb22e;
}
/*.chat__answers > span input[type="checkbox"] + label + .sub-form,
.chat__answers > span input[type="radio"] + label + .sub-form {
    display: none;
}
.chat__answers > span input[type="checkbox"]:checked + label + .sub-form,
.chat__answers > span input[type="radio"]:checked + label + .sub-form {
    display: block;
}*/
.chat__answers .sub-form {
  display: none;
}

.chat__answers > span.btn-text input[type="checkbox"] + label,
.chat__answers > span.btn-text input[type="radio"] + label {
  background: transparent;
  color: #737373;
  padding-left: 0;
  padding-right: 0;
}
.chat__answers > span.btn-text input[type="checkebox"]:checked + label,
.chat__answers > span.btn-text input[type="radio"]:checked + label {
  color: #313131;
  background: transparent;
  text-decoration: underline;
}
.chat__answers > span.btn-text input[type="checkebox"] + label:hover,
.chat__answers > span.btn-text input[type="checkebox"] + label:focus,
.chat__answers > span.btn-text input[type="radio"] + label:hover,
.chat__answers > span.btn-text input[type="radio"] + label:focus {
  color: #383838;
}

.chat-email-request {
  display: flex;
  flex-wrap: wrap;
  align-items: center;

  [type="button"],
  [type="submit"],
  input[type="tel"],
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 53%;
  }
  [type="button"] {
    width: auto;
    font-size: 16px;

    background: transparent;
    color: #737373;
    text-decoration: underline;
  }
  [type="button"]:hover,
  [type="button"]:focus {
    color: #383838;
  }

  &__checkboxes {
    text-align: right;
    flex-grow: 1;
  }
  &__checkbox {
    display: inline-block;
    color: #000;
    margin-top: 20px;
    margin-left: 25px;

    &__input {
      position: absolute;
      opacity:0;
      filter: alpha(opacity=0);

      + label:before {
        content: '.';
        display: inline-block;
        width: 1.2em;
        height: 1.2em;
        border: 3px solid #eb4961;
        border-radius: 50%;
        background: transparent center center no-repeat;
        color: transparent; /* поставил, чтобы точка из content не была видна. без нее vertical-align:baseline не срабатывала */
        margin-right: 8px;
        vertical-align: -4px;
      }
      //.chat-email-request--checkbox input[type="checkbox"] + label:hover:before,
      //.chat-email-request--checkbox input[type="checkbox"]:focus + label:before {
      //  box-shadow: 0 0 2px #000 inset;
      //}
      &:checked + label:before {
        background-image: url(../img/radiobutton.png);
      }
    }
  }
}

@media screen and (max-width: 965px) {
  .chat__item input[type="tel"],
  .chat__item input[type="text"],
  .chat__item input[type="email"],
  .chat__item input[type="password"] {
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .email-reminder {
    font-size: 14px;
  }
  .email-reminder .wrap {
    padding: 18px 19px;
  }

  .chat__item-answer {
    width: auto;
    margin-left: 10px;
    margin-right: 10px;
  }
  .chat__person {
    height: auto;
    float: none;
    margin: 10px auto 20px;
  }
  .chat-email-request--checkbox {
    margin-bottom: 10px;
  }
  .chat__item [type="button"].next-btn,
  .chat__item [type="button"],
  .chat__item [type="submit"] {
    margin: 10px auto;
    width: auto;
    display: block;
  }

  .chat__item .chat-email-request {
    input[type="tel"],
    input[type="text"] {
      width: 100%;
    }

    [type="button"],
    [type="submit"],
    input[type="email"],
    input[type="password"] {
      width: auto;
    }
  }
}

@media screen and (max-width: 375px) {
  .chat__item {
    [type="button"],
    [type="submit"],
    input[type="tel"],
    input[type="text"],
    input[type="email"],
    input[type="password"] {
      //font-size: 20px;
    }
  }
}