.radio-buttons {
  //display: flex;
  //flex-wrap: wrap;
  margin-left: -13px;
  margin-right: -13px;

  &__button {
    display: block;
    color: #2a2a2a;
    cursor: pointer;
    margin: 15px auto;
    max-width: 440px;

    input {
      display: none;
    }
    input + span {
      display: block;
      position: relative;
      padding: 10px 14px;
      border-radius: 50px;
      border: 3px solid #5f5255;
      text-align: center;
    }
    input:checked + span {
      color: #eb4961;
      border-color: #eb4961;
    }
  }
}